# PostgreSQL connection string
DATABASE_URL="postgresql://user:password@localhost:5432/business_ops_os?schema=public"

# NextAuth
NEXTAUTH_SECRET="replace-with-a-random-32-byte-string"
NEXTAUTH_URL="http://localhost:3000"
